* text=auto eol=lf

*.py text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.csv text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.npz binary
*.npy binary
*.h5 binary
*.weights.h5 binary
*.zip binary
